---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
  

---
<div class={className}>
  <span id="book-appointment"></span>
</div>

<script>
(function() {
  let target = document.getElementById('book-appointment');
  window.addEventListener('load', function() {
    // Ensure the 'calendar' object is available before using it
    if (window.calendar && window.calendar.schedulingButton) {
      window.calendar.schedulingButton.load({
        url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ1Wi9E73FtLSD0ipDT-ja0lttilXRAgKmhPURV8__LWcrGmfFk9pW-EYU91kBo_M4DKZ7AlGgXa?gv=true',
        color: '#0066ff',
        label: 'Book an appointment',
        target,
      });
    } else {
      console.error('Google Calendar schedulingButton is not available.');
    }
  });
})();
</script>