---
import YoututbeIcon from './icons/YoutubeIcon.astro';
import TwitterIcon from './icons/TwitterIcon.astro';
import GitHubIcon from './icons/GitHubIcon.astro';
import LinkedinIcon from './icons/LinkedinIcon.astro';

---

<a href='https://www.youtube.com/@SignLanguageTech' target='_blank'>
  <span class='sr-only'>Sign Language Tech YouTube</span>
  <YoututbeIcon height='32px' width='32px' />
</a>
<a href='https://github.com/signlanguagetech' target='_blank'>
  <span class='sr-only'>Go to Sign Language Tech's GitHub</span>
  <GitHubIcon height='32px' width='32px' />
</a>
<a href='https://www.linkedin.com/company/sign-language-tech/' target='_blank'>
  <span class='sr-only'>Go to Sign Language Tech's LinkedIn</span>
  <LinkedinIcon height='32px' width='32px' />
</a>
